@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root{
    --color-dark: hsl(252,30%,17%);
    --color-light: hsl(252,30%,95%);
    --color-gray: hsl(252,15%,65%);
    --color-primary: hsl(252,75%,60%);
    --color-secondary: hsl(252,100%,90%);
    --color-success: hsl(120,95%,65%);
    --color-danger: hsl(0,95%,65%);
    --color-white: hsl(252,35%,100%);
    --color-black: hsl(252,35%,10%);

    --border-radius:2rem;
    --card-border-radius:1rem;
    --btn-padding:0.6rem 1rem;
    --card-padding: 1rem;
    --search-padding: 0.6rem 1rem;
    

    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem;
}

*,*::after,*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  border: none;
}
body{
    font-family: 'Poppins', sans-serif;
    color: var(--color-dark);
    background-color: var(--color-light);
    overflow-x: hidden;

}

/*general css*/
.container{
    width: 80%;
    margin: 0 auto;
}

.profile-picture{
    width: 2.7rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}

img{
    display:block;
    width: 100%;
}

.btn{
    display: inline-block;
    padding: var(--btn-padding);
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.9rem;
}

.btn:hover{
    opacity: 0.8;
}

.btn-primary{
    background-color: var(--color-primary);
    color: white;
}

.text-bold{
    font-weight:500;
}
.text-muted{
    color: var(--color-gray);
}

/*navbar*/
nav{
    width: 100%;
    background: var(--color-white);
    padding: 0.7rem 0;
    position: fixed;
    top:0;
    z-index: 10;
}

nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar{
    background: var(--color-light);
    border-radius: var(--border-radius);
    padding: var(--search-padding);
}

 .search-bar input[type="text"]{
    background: transparent;
    border: none;
    width: 30vw;
    margin-left: 1rem;
    font: size 0.9rem;
    color: var(--color-dark);
}
.search-bar input[type="search"]::placeholder{
    color: var(--color-gray);
    
}

nav .create{
    display: flex;
    align-items: center;
    gap: 2rem;

}
nav .create a{
   color: white;
    text-decoration: none;
}
/*main*/
main{
    position: relative;
    top: 5.4rem;
}
main .container{
    display: grid;
    grid-template-columns:  15vw auto 20vw;
    column-gap: 2rem;
    position: relative;
}

main .container .left{
    height: max-content;
    position: sticky;
    top:var(--sticky-top-left);
    
}

main .container .left .profile{
    display: flex;
    align-items: center;
    padding: var(--card-padding);
    width: 100%;
    column-gap: 1rem;
    border-radius: var(--card-border-radius);
    background: var(--color-white);
    box-shadow: 0 0.2rem 0.4rem var(--color-gray);
}

.left .sidebar{
    margin-top: 1rem;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    
    

}
.left .sidebar .menu-item{
    display: flex;
    align-items: center;
    
    height: 4rem;
    cursor: pointer;
    translate: all 300ms ease;
    position: relative;
    font-size: 1rem;
}
.left .sidebar .menu-item:hover{
    background: var(--color-light);
}

.left .sidebar i{
    font-size: 1.4rem;
    margin-left: 2rem;
    color: var(--color-gray);
    position: relative;
}

.left .sidebar h3{
    margin-left: 1.5rem;
    font-size: 1rem;
}


 
 .left .sidebar .active{
     background: var(--color-light);
 }

 .left .sidebar .active i,
 .left .sidebar .active h3{
     color: var(--color-primary);
 }

 .left .sidebar .active::before{
     content:"";
     display:block;
     width: 0.5rem;
     height: 100%;
     position: absolute;
     background: var(--color-primary);
 }

 .left .sidebar .menu-item:first-child.active{
     border-top-left-radius: var(--card-border-radius);
     overflow: hidden;
 }
 .left .sidebar .menu-item:last-child.active{
    border-bottom-left-radius: var(--card-border-radius);
    overflow: hidden;
}

.left .btn{
 margin-top:1rem ;
 width: 100%;
 text-align: center;
 padding: 1rem 0;
}

.left .btn a{
    color: white;
    text-decoration: none;
}
 /*center*/

 
.middle .create-post{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    background: var(--color-white);
    padding: 0.4rem var(--card-padding);
    border-radius: var(--border-radius);
}

.middle .create-post input[type="text"]{
    justify-self: start;
    width:100%;
    padding-left: 1rem;
    background: transparent;
    color: var(--color-dark);
    margin-right: 1rem;
}

.middle .feeds .feed{
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    margin:1rem 0;
    font-size: 0.85rem;
    line-height: 1.5;
}

.middle .feed .head{
    display: flex;
    justify-content: space-between;

}

.middle .feed .user{
    display: flex;
    gap: 1rem;
}
.middle .feed .photo{
    border-radius: var(--border-radius);
    overflow: hidden;
    margin: 0.7rem 0;
}

.middle .feed .action-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:1.4rem;
    margin:0.6rem;
}
.middle .feed .action-button .interactive-button{
    display: flex;
    align-items: center;
}

.middle .feed .action-button .interactive-button p{
    font-size: 0.7rem;
    margin-left: 0.5rem;
}

/*right*/
main .container .right{
    height: max-content;
    position: sticky;
    top:var(--sticky-top-right);
    bottom: 0;
}
.right .messages{
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    
}
.right .messages .heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.right .messages i{
    font-size: 1.4rem;
}

.right .messages .search-bar{
    display: flex;
    
    margin-bottom: 1rem;

}

/* .right .messages .category{
    display: flex;
    
    justify-content: space-between;
    margin-bottom: 1rem;
} */

.right .messages .message{
    display: flex;
    gap:1rem;
    margin-bottom: 1rem;
    align-items: start;
}

.right .messages .message:last-child{
    margin:0;
}

.right .messages .message p{
    font-size:0.8rem;

}
.right .message .profile-picture{
    overflow: visible;
    position: relative;
}

.right .profile-picture img{
    border-radius: 50%;
}

/*FRIEND REQUESTS*/

.right .friend-requests{
    margin-top: 1rem;
}

.right .friend-requests h4{
    color:var(--color-gray);
    margin:1rem 0;
}

.right .request{
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    margin-bottom: 0.7rem;
}

.right .request .info{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}
.right .request .action{
gap:1rem;
display: flex;

}
 /*MEDIA QUERY*/
 @media screen and (max-width: 1200px){
     .container{
         width:96%;
     }
     main .container{
         grid-template-columns: 5rem auto 30vw;
         gap:1rem;
     }
     .left{
         width:5rem;
         z-index:5;
     }
     main .container .left .profile{
         display: none;
     }
     .sidebar h3{
         display: none;
     }
     .left .btn{
         display: none;
     }
 }
 

 @media screen and (max-width: 992px){
     nav .search-bar{
         display: none;
     }
     main .container{
         grid-template-columns: 0 auto 5rem;
     }
     main .container .left{
         grid-column:3/4;
         position:fixed;
         bottom:0;
         right:0;
     }
     .left .notifications-popup::before{
         display: absolute;
         top:1.3rem;
         left: calc(20rem- 0.6rem);
        display: block;
     }
     
     /* main .container .left .sidebar > div h3{
         display: none;
     } */
     main .container .middle{
         grid-column: 1/3;

     }
     main .container .right{
         display: none;
     }



 }

 .btn-submit{
    background-color: var(--color-dark);
    color: var(--color-white);
    float: left;
    margin-top: 2rem;
}